.header {
  position: relative;
  background: rgba(0,0,0,0.25);
  min-height: 100vh;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../assets/images/header.png") no-repeat center/cover;
    z-index: -1;
  }

  &__logo {
    height: 35px;
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;

    a {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: #FFFFFF;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    @media screen and (max-width: 1366px) {
      width: 70%;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 7.2rem;
    color: #FFFFFF;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 200%;
    color: #FFFFFF;
    margin-top: 4rem;
  }

  &__search {
    padding: 1.9rem 1.6rem;
    width: 90%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    border-radius: 3rem;
    transition: all .5s;

    &-container {
      margin-top: 6rem;
      position: relative;
    }

    &-icon {
      position: absolute;
      top: 50%;
      right: 4%;
      transform: translateY(-50%);
      color: #FFFFFF;
      padding: .7rem;
      cursor: pointer;
      background: #FAF5F2;
      border-radius: 50%;
    }

    &::placeholder, & {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 200%;
      color: #FFFFFF;
    }

    &:focus {
      outline: none;
      border-color: #FFFFFF;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}