@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

section {
  padding: 0 8rem;
}

@import "header";
@import "advantages";
@import "categories";